body {
    margin: 0;
}

h3, p {
    text-align: center;
    margin: 0;
}

table, form {
    padding: 5px 10px;
}

.header-div {
    background-color: lightgray;
    padding: 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.tab-table, p {
    padding-top: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 32px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.save-button {
    text-align: center;
}